#logo {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.spacer {
    margin-bottom: 50px;
}

.upper-spacer20 {
    margin-top: 20px;
}

.step-container {
    height: 350px !important;
}

.state-ok {
    color: #4C841D;
}

.state-ko {
    color: #ff0505;
}

ul > li > p > a > i.glyphicon-remove {
    color: #ff0505;
    padding-left: 10px;
}

td > a > i.glyphicon-remove {
    color: #ff0505;
    padding-left: 10px;
}

td > a > i.fa-play {
    color: #4C841D;
    padding-left: 10px;
}

td > a > i.fa-stop {
    color: #ff0505;
    padding-left: 10px;
}

ul > li > p > a > i.glyphicon-trash {
    color: #ff0505;
    padding-left: 10px;
}

td  > a > i.glyphicon-trash {
    color: #ff0505;
    padding-left: 10px;
}

td  > a > i.glyphicon-ban-circle {
    color: #ff0505;
    padding-left: 10px;
}

td  > a > i.glyphicon-ok {
    color: #3C3;
    padding-left: 10px;
}
