<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-wizard/dist/angular-wizard.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <!-- endbuild -->
</head>
<body ng-app="salamiServiceManagerApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img id="logo" class="navbar-brand" src="images/logo.png"/>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller="MenuCtrl">

                <ul class="nav navbar-nav">
                    <li ng-if="!isInit()"><a href="#/">Home</a></li>
                    <li ng-if="!isInit()"><a href="#/devices">Devices</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="!isInit()">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"> <i class="glyphicon glyphicon-cog"></i> Settings <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/services"><i class="fa fa-server"></i> Services</a></li>
                            <li><a href="#/logs"><i class="fa fa-file-text-o"></i> Logs</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ng-controller="NotificationsCtrl">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
        </uib-alert>
    </div>
    <div ng-view=""></div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/angular-websocket/angular-websocket.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/services/login.js"></script>
<script src="scripts/services/config.js"></script>
<script src="scripts/services/resource.js"></script>
<script src="scripts/services/userdata.js"></script>
<script src="scripts/services/messages.js"></script>
<script src="scripts/services/util.js"></script>
<script src="scripts/controllers/notifications.js"></script>
<script src="scripts/controllers/init.js"></script>
<script src="scripts/controllers/join.js"></script>
<script src="scripts/controllers/menu.js"></script>
<script src="scripts/controllers/finish.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/logs.js"></script>
<script src="scripts/services/model.js"></script>
<script src="scripts/controllers/kitchenmodal.js"></script>
<script src="scripts/controllers/services.js"></script>
<script src="scripts/controllers/servicemodal.js"></script>
<script src="scripts/controllers/devices.js"></script>
<!-- endbuild -->
</body>
</html>
