<div class="col-md-12">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="Slices" is-open="true"
                             is-disabled="status.isFirstDisabled" template-url="group-template.html">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Enable/Disable</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="slice in slices">
                    <th scope="row">1</th>
                    <td>{{slice.id}}</td>
                    <td>{{slice.name}}</td>
                    <td>{{slice.version}}</td>
                    <td>{{slice.author}}</td>
                    <td><span class="label label-success">{{slice.status}}</span></td>
                    <td>
                        <a href="" ng-click="enableDevice(slice)"><i class="glyphicon glyphicon-ok"></i></a>
                        <a href="" ng-click="disableDevice(slice)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
