<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron step-container" ng-controller="FinishCtrl">
            <h4>Well done! Your system is ready.</h4>

            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="true" ng-model="startServices"> Start Salami
                </label>
            </div>
            <button class="btn btn-default" ng-click="doFinish()">Finish!</button>
        </div>
    </div>

</div>
<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>
