<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron step-container" ng-controller="JoinCtrl">
            <p>Please, select a kitchen to associate your Salami Instance</p>
            <form name="joinForm">
                <div class="input-group" show-errors>
                    <select class="form-control" name="kitchenSelect" id="kitchenSelect"
                            ng-options="kitchen as kitchen.name for kitchen in kitchens track by kitchen.id"
                            ng-model="selectedKitchen" ng-required="true">
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" tabindex="-1" ng-click="openKitchenModal()"><span
                                class="glyphicon glyphicon-plus"
                                aria-hidden="true"></span></button>
                    </span>
                </div>
                <div class="upper-spacer20">
                    <button type="submit" class="btn btn-default" ng-click="doJoin()">Join</button>
                </div>

            </form>
        </div>
    </div>

</div>

<script type="text/ng-template" id="kitchenmodalcontent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{kitchen.name}}</h3>
    </div>
    <div class="modal-body">
        <form name="kitchenForm">
            <div class="form-group" show-errors>
                <label for="kitchen-name">Name</label>
                <input type="text" class="form-control" id="kitchen-name" name="kitchenName" placeholder="Kitchen name"
                       ng-model="kitchen.name" ng-required="true">
            </div>
            <div class="form-group" show-errors>
                <label for="statusSelect">Status</label>
                <select class="form-control" id="statusSelect" name="statusSelect" ng-model="kitchen.status"
                        ng-required="true">
                    <option value="">Select a status</option>
                    <option value="1" ng-selected="kitchen.status == 1">Enabled</option>
                    <option value="0" ng-selected="kitchen.status == 0">Disabled</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()"
                ng-disabled="kitchenForm.statusSelect.$pristine && kitchenForm.kitchenName.$pristine">OK
        </button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
