<uib-accordion close-others="oneAtATime">
    <div class="col-md-4 dash-el-wrapper" ng-repeat="logger in loggers">
        <uib-accordion-group heading="{{logger.id}} Logger Configuration" is-open="true"
                             is-disabled="status.isFirstDisabled" template-url="group-template.html">
            <form>
                <div class="form-group">
                    <label for="root-enable-group">Enabled</label>
                    <div id="root-enable-group" class="btn-group">
                        <label class="btn btn-default" ng-model="logger.isEnabled"
                               uib-btn-radio="true"><span class="fa fa-check state-ok"></span></label>
                        <label class="btn btn-default" ng-model="logger.isEnabled"
                               uib-btn-radio="false"><span class="fa fa-remove state-ko"></span></label>
                    </div>
                    <a href="" scroll-to class="pull-right"><i class="fa fa-search fa-2x"></i> </a>
                </div>
                <div class="form-group">
                    <label for="root-log-level">Log Level</label>
                    <div class="dropdown">
                        <select id="root-log-level" class="form-control" name="singleSelect" ng-model="logger.level"
                                convert-to-debug-label>
                            <option value="30">WARN</option>
                            <option value="10">DEBUG</option>
                            <option value="20">INFO</option>
                            <option value="40">ERROR</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="root-handlers-group">Handlers</label>
                    <ul id="root-handlers-group" class="list-group">
                        <li class="list-group-item" ng-repeat="handler in logger.handlers">{{handler.type}}
                            <p class="pull-right"><a href="" ng-click="removeHandler($index, logger)"
                                                     class="remove-link"><i
                                    class="glyphicon glyphicon-trash"></i></a></p>
                            <p class="pull-right"><a href="" ng-click="openHandlerModal(handler)"><i
                                    class="glyphicon glyphicon-edit"></i></a></p>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default" ng-click="openHandlerModal(null, logger)"><i
                            class="fa fa-plus state-ok"></i>
                    </button>
                </div>
                <div class="form-group" ng-if="logger.isRoot == false">
                    <label for="root-triggers-group">Triggers</label>
                    <ul class="list-group" id="root-triggers-group">
                        <li class="list-group-item" ng-repeat="trigger in logger.triggers">{{trigger.name}}
                            <p class="pull-right"><a href="" ng-click="removeTrigger($index, logger)"><i
                                    class="glyphicon glyphicon-trash"></i></a>
                            </p>
                            <p class="pull-right"><a href="" ng-click="openTriggerModal(trigger)"><i
                                    class="glyphicon glyphicon-edit"></i></a></p>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-default pull-left" ng-click="openTriggerModal(null, logger)"><i
                            class="fa fa-plus state-ok"></i>
                    </button>
                </div>
            </form>
        </uib-accordion-group>
    </div>
    <div class="col-md-12 dash-el-wrapper">
        <uib-accordion-group heading="View Logs" is-open="false"
                             is-disabled="status.isFirstDisabled">
            <textarea id="log-content" readonly="true" class="form-control">{{currentLoggerContent}}</textarea>
        </uib-accordion-group>
    </div>
</uib-accordion>

<!-- Group Template -->
<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>


<!-- Handler modal -->
<script type="text/ng-template" id="handlerModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{handler.type}}</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="handler-type">Log Level</label>
                <div class="dropdown">
                    <select id="handler-type" class="form-control" name="handler-type" ng-model="handler.type">
                        <option value="FileHandler">FileHandler</option>
                        <option value="WsHandler">WsHandler</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="handler.type == 'FileHandler'">
                <label for="handler-file-path">File Path</label>
                <input type="text" class="form-control" id="handler-file-path" placeholder="File path"
                       ng-model="handler.filePath">
            </div>
            <div class="form-group" ng-if="handler.type == 'WsHandler'">
                <label for="handler-socket-url">Socket url</label>
                <input type="text" class="form-control" id="handler-socket-url" placeholder="Socket url"
                       ng-model="handler.socketUrl">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<!-- Trigger modal -->
<script type="text/ng-template" id="triggerModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{trigger.name}}</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="trigger-name">Name</label>
                <input type="text" class="form-control" id="trigger-name" placeholder="Trigger name"
                       ng-model="trigger.name">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
