<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Start</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="" ng-click="startServices()"><i class="fa fa fa-play fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Stop</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="" ng-click="stopServices()"><i class="fa fa fa-stop fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Devices</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="#/devices"><i class="fa fa fa-hdd-o fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Settings</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="#/settings"><i class="fa fa-cog fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
