<div class="col-md-12">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="Local Services" is-open="true"
                             is-disabled="status.isFirstDisabled" template-url="group-template.html">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Control</th>
                    <th>Configure</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="service in services">
                    <th scope="row">1</th>
                    <td>{{service.name}}</td>
                    <td>{{service.status.state}}</td>
                    <td>
                        <a href="" ng-if="service.status.state == 'STOPPED'" ng-click="startService(service.id)"><i class="fa fa-play"></i></a>
                        <a href="" ng-if="service.status.state == 'RUNNING'" ng-click="stopService(service.id)"><i class="fa fa-stop"></i></a>
                    </td>
                    <td>
                        <a href="" ng-click="openServiceModal(service)" ng-if="service.configuration"><i class="fa fa-cogs"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>
<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()"
                   uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="servicemodalcontent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{service.name}}</h3>
    </div>
    <div class="modal-body">
        <form name="serviceForm">
            <div class="form-group" show-errors>
                <label for="service-address">Bind Address</label>
                <input type="text" class="form-control" id="service-address" name="serviceAddress" placeholder="Service address"
                       ng-model="service.configuration.address" ng-required="true">
            </div>
            <div class="form-group" show-errors>
                <label for="service-port">Port</label>
                <input type="text" class="form-control" id="service-port" name="servicePort" placeholder="Service port"
                       ng-model="service.configuration.port" ng-required="true">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()"
                ng-disabled="serviceForm.serviceAddress.$pristine && serviceForm.servicePort.$pristine">OK
        </button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
