<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Services</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="#/services"><i class="fa fa fa-server fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Logs</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="#/logs"><i class="fa fa fa-file-text-o fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
